.packery
  - @albums.each do |album|
    .item
      = link_to [@user, album] do
        %h2.album-name= album.album_name
        %h3.album-artist= album.band.band_name
        .item-image
          %img(src="#{album.image_url}")
        %ul.item-subnav.pull-right
          %li.item-tracks
            %i.fa.fa-music
            %span.item-track-count= album.tracks.last.track_number
          %li.item-rating
            %i.fa.fa-star
            %pan.item-track-rating= album.rating.rating_value

:coffee
  $ ->
    onResize = ->
      outsideSize = getSize($container.parent()[0]).innerWidth
      cols = Math.floor(outsideSize / (columnWidth))

      # set container width to columns
      if cols != 1
        $container.width cols * columnWidth - gutter
      else
        $container.width cols * columnWidth - 20

      # manually trigger layout
      $container.packery()
      return

    $container = $(".packery")
    # initialize Packery after all images have loaded
    $container.imagesLoaded ->
      $container.packery
        itemSelector: ".item"
        transitionDuration: "0.8s"
        columnWidth: 300
        gutter: 20
        isResizeBound: false

      return
    pckry = $container
    gutter = 20 or 0
    columnWidth = 320

    # debounce resize event
    resizeTimeout = undefined
    $(window).on "resize", ->
      clearTimeout resizeTimeout  if resizeTimeout
      resizeTimeout = setTimeout(onResize, 100)
      return


    # initial trigger
    onResize()
    return