%p
  %strong Album name:
  = @album.album_name
%p
  %strong User:
  = @album.user
%p
  %strong Comment:
  = @album.comment
%p
  %strong Genre:
  = @album.genre
%p
  %strong Rating:
  = @album.rating
%p
  %strong Band:
  = @album.band

- @album.tracks.each do |track|
  = track.track_name

