%p
  %strong Album name:
  = @album.album_name
%p
  %strong User:
  = @album.user.user_name
%p
  %strong Comment:
  = @album.comment.comment_description
%p
  %strong Genre:
  = @album.genre.genre_name
%p
  %strong Rating:
  = @album.rating.rating_value
%p
  %strong Band:
  = @album.band.band_name

- @album.tracks.each do |track|
  = track.track_name

