#sub-wrapper
  %ul.subnav-nav
    - if controller?("songs") && action?("index")
      %li.selected
        = link_to "Songs", user_albums_path(@user)
    - else
      %li
        = link_to "Songs", user_albums_path(@user)

    - if controller?("albums") && action?("index")
      %li.selected
        = link_to "Albums", user_albums_path(@user)
    - else
      %li
        = link_to "Albums", user_albums_path(@user)

    - if controller?("artists") && action?("index")
      %li.selected
        = link_to "Artists", user_albums_path(@user)
    - else
      %li
        = link_to "Artists", user_albums_path(@user)

    - if controller?("genres") && action?("index")
      %li.selected
        = link_to "Genres", user_albums_path(@user)
    - else
      %li
        = link_to "Genres", user_albums_path(@user)